@media screen and (max-width: 400px) {
    .Movies {
        display: block;
    }

    .ButtonPages {
        width: 400px;

    }

    .ButtonPages button {
        position: relative;
        left: 50px;
        

    }


}